 <form class="d-flex w-100 mr-20" method="get" action="{{ path('products') }}">
    <div class="input-group">
        <input class="form-control rounded-pill  w3-input" type="search" name="categoryName" placeholder="Rechercher" aria-label="Search">
       {# <button type="submit"><i class="fas fa-search w3-round w3-border text-bg-info text-white"></i></button>#}
    </div>
 </form>
